@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans:wght@300&display=swap");

/* reset-css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  border: 1px solid black;
}

/* init */
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
.iconify {
  width: 40px;
  height: 40px;
}

/* container */
.container {
  width: 95%;
  display: flex;
  padding-top: 2rem;
  margin: 0 auto;
}

/* 왼쪽 부분 */
.search_and_chat_list {
  width: 25%;
}
.search_input {
  width: 100%;
  font-size: 1rem;
}

/* 오른쪽 부분 */
.chat_name_and_contents {
  width: 75%;
}
.chat_contents {
  display: flex;
}
.webtoon_img {
  flex-grow: 1;
}
.current_chat {
  flex-grow: 1;
}
