@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans:wght@300&display=swap");

/* reset-css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  /* border: 1px solid black; */
}

/* init */
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
.iconify {
  width: 2.3rem;
  height: 2.3rem;
}
.hidden {
  display: none;
}

/* media query */
@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

/* container */
.container {
  width: 80%;
  padding-top: 2rem;
  margin: 0 auto;
}

/* header */
header {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.title {
  font-size: 2rem;
  padding-left: 2rem;
  flex-grow: 1;
}
.title span {
  /* padding: 0 1rem; */
}
.check {
  font-size: 1.5rem;
  background-color: white;
  color: rgb(150, 150, 150);
  border: none;
  cursor: pointer;
}

/* serach버튼 클릭시 */
.search_box {
  display: flex;
  width: 100%;
}
.search_box_form {
  flex-grow: 1;
  padding: 1rem;
}
.search_input {
  padding-left: 1rem;
  width: 100%;
  font-size: 1.2rem;
  height: 3rem;
  line-height: 2rem;
}
/* main */
main {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid lightgray;
}

/* 친구 목록 */
.profile-pic {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
}
.friends_list {
  padding: 2rem 1rem;
}
.friends_list_title {
  padding-bottom: 1rem;
  font-size: 1.6rem;
  width: 100%;
}
.friends_list li a {
  display: flex;
  font-size: 20px;
  width: 100%;
  align-items: center;
}
.friends_list li {
  padding: 0.5rem 0;
}
.friend_name {
  padding-left: 1rem;
  flex-grow: 1;
}
.friend_checkbox {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid black;
  appearance: none;
  cursor: pointer;
}
.friend_checkbox:checked {
  background: black;
  border: none;
}

/* 검색결과 없을때 */
.nothing_search {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nothing_search .iconify {
  width: 3rem;
  height: 3rem;
  margin-bottom: 1.5rem;
}
.nothing_search div {
  padding: 0.5rem;
}

.nothing_search > div:nth-child(2) {
  font-size: 1.5rem;
}
